.card {
    box-shadow: 20px 10px 100px 1px rgba(255, 255, 255, 0.2) !important;
}

a {
    text-decoration: none !important;
}


.card {
    position: relative;
    transition: transform 0.4s ease; /* This makes the transform change smoothly */
}

.card:hover {
    box-shadow: 20px 10px 100px 1px rgba(255, 255, 255, 0.5) !important;
    transform: scale(1.1); /* This makes the card grow slightly when hovered */
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.card:hover::before {
    opacity: 1;
}

.text-wrapper {
    position: relative;
}

.text-wrapper h3, .text-wrapper small {
    color: rgba(255, 255, 255, 0);
    transition: color 0.3s ease;
}

.card:hover .text-wrapper h3, .card:hover .text-wrapper small {
    color: white;
}
