/* Whole Site */

.navbar-brand,
h1,
h2 {
  font-family: "Italiana", sans-serif;
}

.navbar-brand {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

h4,
p,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.card small {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  color: white;
  font-size: 14px;
}

.homepage-section p {
  margin-bottom: 50px;
}
/* Home page */

#cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: #fff; /* Match the color of your text */
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.btn.glow {
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); /* Softer initial glow with more blur and less opacity */
  animation: glow-animation 2s infinite alternate; /* Animation name, duration, infinite loop, and alternate direction */
}

@keyframes glow-animation {
  from {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2),
      0 0 10px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.2),
      0 0 20px rgba(255, 255, 255, 0.2);
  }
  to {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
      0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2),
      0 0 40px rgba(255, 255, 255, 0.2);
  }
}

/* Clients Page */
/* Client Feature Rows */
#client-feature-rows .feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

#client-feature-rows .icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

#client-feature-rows a {
  width: 80% !important;
}

#client-feature-rows .card {
  height: 250px !important;
}

#client-feature-rows .card {
  display: block;
}

#client-feature-rows .card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#client-feature-rows .feature-icon-small {
  width: 3rem;
  height: 3rem;
}

/* Mobile Display */

@media screen and (max-width: 767px) {
  #client-feature-rows #pets-purest-row,
  #client-feature-rows #adios-plastic-row,
  #client-feature-rows #bubbl-row {
    flex-direction: column-reverse !important;
  }
}

@media screen and (min-width: 990px) {
  #client-feature-rows .card {
    height: 400px !important;
  }
}

/* ---------------------------------------------------------- */
/* Client Cards */
.card {
  box-shadow: 20px 10px 100px 1px rgba(255, 255, 255, 0.2) !important;
}

a {
  text-decoration: none !important;
}

.card {
  position: relative;
  transition: transform 0.4s ease;
  /* This makes the transform change smoothly */
}

.card:hover {
  box-shadow: 20px 10px 100px 1px rgba(255, 255, 255, 0.5) !important;
  transform: scale(1.1);
  /* This makes the card grow slightly when hovered */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.card:hover::before {
  opacity: 1;
}

.text-wrapper {
  min-height: 270px;
  position: relative;
}

.text-wrapper h3 {
  font-size: 25px;
}

.text-wrapper h3,
.text-wrapper small {
  color: rgba(255, 255, 255, 0);
  transition: color 0.3s ease;
}

.card:hover .text-wrapper h3,
.card:hover .text-wrapper small {
  color: white;
}

/* Client Logos */

.client-logos {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.client-logo-images {
  display: flex;
  animation: scrollLogos 60s linear infinite;
}

.client-logo-images img {
  width: 100px;
  height: 100px;
  margin-right: 100px;
}

@keyframes scrollLogos {
  0% {
    transform: translateX(calc(-100% - 100px));
  }
  100% {
    transform: translateX(0); /* End at the original starting position */
  }
}

/* Skills Page */

#skills .col {
  transition: transform 0.5s ease-out;
}

#skills .col:hover {
  text-shadow: 0px 0px 40px #ffffff;
  transform: scale(1.05);
}

/* #skills svg:hover {
    text-shadow: 0px 0px 40px #ffffff;
    transform: scale(1.05);
} */

.skills-container h2 {
  font-size: 18px;
  font-weight: 400;
}

#skills i {
  color: lightgrey;
  font-size: 50px;
  margin-bottom: 10px;
}

#skills svg {
  fill: lightgrey;
  height: 50px;
  margin-bottom: 10px;
}

#skills p {
  color: lightgrey;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Page Effects */
.page-transition-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
  opacity: 0;
  visibility: hidden; /* Ensures the wrapper doesn't block clicks when not active */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.page-transition-wrapper.active {
  opacity: 1;
  visibility: visible; /* Only visible when active */
}

/* Background Images Homepage */
