<!-- <header>
  <nav>
    <a href="index.html"
      ><div class="logo">
        <img src="./images/logos/logo-black.jpg" alt="logo" /></div
    ></a>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="client-work.html">Client Work</a></li> -->
<!-- <li><a href="services.html">Services</a></li> -->
<!-- <li><a href="design.html">Design</a></li> -->
<!-- <li><a href="projects.html">Projects</a></li> -->
<!-- <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header> -->
<header>
  <nav>
    <a href="index.html">
      <div class="logo">
        <img src="./images/logos/logo-black.jpg" alt="logo" />
      </div>
    </a>
    <!-- Desktop Menu -->
    <ul class="desktop-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="client-work.html">Client Work</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <!-- Hamburger Menu Button -->
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <!-- Mobile Menu Wrapper -->
    <div class="mobile-menu-wrapper">
      <div class="menu-header">
        <button class="close">&times;</button>
      </div>
      <ul class="mobile-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="client-work.html">Client Work</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
