<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Dynamic Meta Description -->
    <meta
      name="description"
      content="{% if page.description %}{{ page.description | escape }}{% else %}Danielle Adeyemo is a UK-based Shopify Developer specialising in custom theme development, Shopify 2.0, Liquid coding, and e-commerce solutions. Offering expert services to optimise your Shopify store.{% endif %}"
    />

    <link
      rel="shortcut icon"
      href="./images/logos/logo-white-small.jpg"
      type="image/x-icon"
    />
    <title>{{ page.title }}</title>
    <!-- Placeholder for external CSS links -->
    {% include styles.html %}
    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/styles/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/styles/header.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/styles/footer.css" | relative_url }}">
    <!-- SPLIDE -->
    <script src="
     https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
     "></script>
  </head>
  <body>
    <!-- Header -->
    {% include header.html %}

    <main>{{ content }}</main>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scripts -->
    <script src="./scripts/scripts.js"></script>
  </body>
</html>
