/* Body */
body {
  margin: 0;
  padding: 0;
}

/* Text */
li,
a,
span,
p,
label,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header */
header {
  background-color: black;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
}

nav ul li {
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* ------- */
.content-section {
  background-color: black;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-section .content {
  color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content-section .button-row .btn {
  background-color: white;
  color: black;
  margin-bottom: 40px;
}
