/* Body */
body {
  margin: 0;
  padding: 0;
}

/* Text */
li,
a,
span,
p,
label,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Quattrocento", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

/* Button */
.btn {
  text-decoration: none;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 40px;
  transition: background-color 0.4s;
}

.btn:hover {
  background-color: #252525;
}

/* Button Glow Effect */
.glow-black {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation: glowblack 2s infinite alternate;
}

@keyframes glowblack {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 5px rgb(0, 0, 0);
  }
}

.glow-white {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  animation: glowwhite 2s infinite alternate;
}

@keyframes glowwhite {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgb(255, 255, 255);
  }
}

/* ------- */
.content-section {
  background-color: black;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 100%;
}

.content-section .content {
  color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content-section .button-row .btn {
  background-color: white;
  color: black;
  margin-bottom: 40px;
}

/* Footer */
footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}
